body {padding-bottom: 40px;background-color: rgba(214,208,198,1);}
.container {
    z-index: 99;
    padding: 19px 29px 29px;
    margin: 60px auto 20px;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.05);
            box-shadow: 0 1px 2px rgba(0,0,0,.05);
}
.bootstrap-select {
    width: 330px !important;
}

.ui-sortable-helper {
    background-color:  rgba(23, 128, 247, 0.7)!important;
    color: #fff;
}

.ui-sortable-helper .hamburger {
    background-color:  rgba(23,126,247,1)!important;
    color: #fff;
}

.ui-helper {
    background-color:  rgba(247, 23, 23, 0.7)!important;
}

.ui-helper .bin {
    background-color:  rgb(247, 23, 23)!important;
}

.alert {
    width: 100% !important;
}
tr {
    width: 100%;
    display: inline-table;
    height:40px;
}
#deletebtn {
    float: right;
}
#printbtn {
    float: left;
    background-color: gray;
    border-color: black;
}
@media (max-width: 468px) {
    .bootstrap-select {
        width: 100% !important;
    }
    #printbtn {
        width:100% !important;
    }
    #deletebtn {
        width:100% !important;
    }
}
#distance {
    border: 0;
}
.distanceCalc {
    font-weight: bold;
}
.distDiv {
    margin-top: 5px;
    float: right;
}
.distResult {
    width: 100px;
    text-align: center;
    font-weight: bold;
}
#attention {

}
#remove {
    width: 100px;
}
.hamburger {
    width: 20px;
}
.bin {
    width: 20px;
}
.bin:active {
    width: 20px;
    background-color: rgb(247, 23, 23)!important;
}

.govbar {
    background: #fff;
    border-bottom: 1px solid #cccaca;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px;
    position: relative;
    overflow: hidden;
    height: 46px;
    width: 100%;
    z-index: 30000;
}
.govbar::before,
.govbar::after {
    content: '';
    display: table;
}
.govbar::after {
    clear: both;
}
.govbar-logo {
    border: 0;
    float: left;
    padding: 3px 8px;
}
.govbar-logo.newwindow:after {
    display: none;
}
.govbar-logo img {
    border: 0;
    display: block;
    height: 40px;
}
.govbar-links {
    float: right;
    line-height: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.govbar-links li {
    float: left;
}
.govbar-link {
    float: left;
    font-weight: bold;
    padding: 8px;
}
.govbar-link:link,
.govbar-link:visited,
.govbar-link:hover,
.govbar-link:focus,
.govbar-link:active {
    border: 0;
    color: #222 !important;
    text-decoration: none;
}
.govbar-link:hover,
.govbar-link:focus {
    background: #e6e6e6 !important;
}
.govbar-more {
    font-weight: normal;
}